@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Control Stock Cocina</h1>
    <p class="lead">Aplicación diseñada usando .Net MVC 5, SQL Server, ejecutada en la nube de Azure, para el ramo de 1806IFTE-1 - PROYECTO DE INTEGRACION III.</p>
    <p><a href="https://github.com/AshWilliams/appstock" class="btn btn-primary btn-lg">Repositorio Github</a></p>
</div>

